<a href="https://colab.research.google.com/github/dohuijin/KT-AIVLE-School-4th/blob/main/4_%EA%B5%AC%EB%B3%84_%EC%97%85%EC%A2%85_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4. 구 별 업종 분석
### 서울시 내 각 구 별로 등록업종을 분석

## 데이터 안내

[데이터 파일명]
* 4. seoul_people.csv

[데이터 정보]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[데이터 컬럼 정보]
* 다수 업종 상위 1~10

#### [4.1.1] 데이터 로딩

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
seoul_business = pd.read_csv('/content/drive/MyDrive/미니프로젝트/1차_서울시 생활정보 기반 대중교통 수요 분석/데이터/4. business_type.csv')

In [ ]:
seoul_business.shape

(451, 22)

# 4.2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [4.2.1] 기본 정보 확인하기

In [ ]:
seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   자치구           451 non-null    object
 1   동             451 non-null    object
 2   다수업종 상위10     451 non-null    object
 3   다수업종 상위10.1   451 non-null    object
 4   다수업종 상위10.2   451 non-null    object
 5   다수업종 상위10.3   451 non-null    object
 6   다수업종 상위10.4   451 non-null    object
 7   다수업종 상위10.5   451 non-null    object
 8   다수업종 상위10.6   451 non-null    object
 9   다수업종 상위10.7   451 non-null    object
 10  다수업종 상위10.8   451 non-null    object
 11  다수업종 상위10.9   451 non-null    object
 12  다수업종 상위10.10  451 non-null    object
 13  다수업종 상위10.11  451 non-null    object
 14  다수업종 상위10.12  451 non-null    object
 15  다수업종 상위10.13  451 non-null    object
 16  다수업종 상위10.14  451 non-null    object
 17  다수업종 상위10.15  451 non-null    object
 18  다수업종 상위10.16  451 non-null    object
 19  다수업종 상위10.17  451 non-null    object
 20  다수업종 상위10.18  451 non-null    object
 21  다수업종 상위10.19  451 non-null    object
dtypes: object(22)
memory usage: 77.6+ KB

In [ ]:
seoul_business.head()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220

In [ ]:
print(seoul_business.loc[0])
print(seoul_business.loc[1])

자치구                         자치구
동                             동
다수업종 상위10                 택시운송업
다수업종 상위10.1               택시운송업
다수업종 상위10.2          한식 일반 음식점업
다수업종 상위10.3          한식 일반 음식점업
다수업종 상위10.4        용달 화물자동차 운송업
다수업종 상위10.5        용달 화물자동차 운송업
다수업종 상위10.6        부동산 중개 및 대리업
다수업종 상위10.7        부동산 중개 및 대리업
다수업종 상위10.8               두발미용업
다수업종 상위10.9               두발미용업
다수업종 상위10.10              커피전문점
다수업종 상위10.11              커피전문점
다수업종 상위10.12    남녀용 겉옷 및 셔츠 도매업
다수업종 상위10.13    남녀용 겉옷 및 셔츠 도매업
다수업종 상위10.14              기타주점업
다수업종 상위10.15              기타주점업
다수업종 상위10.16           일반 교과 학원
다수업종 상위10.17           일반 교과 학원
다수업종 상위10.18        한식 육류요리 전문점
다수업종 상위10.19        한식 육류요리 전문점
Name: 0, dtype: object
자치구              자치구
동                  동
다수업종 상위10       사업체수
다수업종 상위10.1     종사자수
다수업종 상위10.2     사업체수
다수업종 상위10.3     종사자수
다수업종 상위10.4     사업체수
다수업종 상위10.5     종사자수
다수업종 상위10.6     사업체수
다수업종 상위10.7     종사자수
다수업종 상위10.8     사업체수
다수업종 상위10.9     종사자수
다수업종 상위10.10    사업체수
다수업종 상위10.11    종사자수
다수업종 상위10.12    사업체수
다수업종 상위10.13    종사자수
다수업종 상위10.14    사업체수
다수업종 상위10.15    종사자수
다수업종 상위10.16    사업체수
다수업종 상위10.17    종사자수
다수업종 상위10.18    사업체수
다수업종 상위10.19    종사자수
Name: 1, dtype: object

#### [4.2.2] 원하는 데이터 형태로 저장하기

* head, tail 등을 살펴본 결과를 토대로 header 값을 적절히 지정하여 데이터를 다시 불러오고 필요한 컬럼만 저장

In [ ]:
#read_csv 재실행. 단, header값을 적절히 지정
seoul_business = pd.read_csv('/content/drive/MyDrive/미니프로젝트/1차_서울시 생활정보 기반 대중교통 수요 분석/데이터/4. business_type.csv', header=3)

In [ ]:
seoul_business.head()

,합계,합계.1,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
0,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
1,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
2,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
3,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
4,종로구,평창동,10,10,31,116,11,11,33,52,...,19,62,2,4,26,54,25,71,10,103

In [ ]:
seoul_business.columns = ['자치구', '동',
                          '택시운송업 사업체수', '택시운송업 종사자수', '한식 일반 음식점업 사업체수', '한식 일반 음식점업 종사자수',
                          '용달 화물자동차 운송업 사업체수', '용달 화물자동차 운송업 종사자수',
                          '부동산 중개 및 대리업 사업체수', '부동산 중개 및 대리업 종사자수',
                          '두발미용업 사업체수', '두발미용업 종사자수', '커피전문점 사업체수', '커피전문점 종사자수',
                          '남녀용 겉옷 및 셔츠 도매업 사업체수', '남녀용 겉옷 및 셔츠 도매업 종사자수',
                          '기타주점업 사업체수', '기타주점업 종사자수', '일반 교과 학원 사업체수', '일반 교과 학원 종사자수',
                          '한식 육류요리 전문점 사업체수', '한식 육류요리 전문점 종사자수']

In [ ]:
seoul_business.head()

,자치구,동,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,...,커피전문점 사업체수,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수
0,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
1,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
2,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
3,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
4,종로구,평창동,10,10,31,116,11,11,33,52,...,19,62,2,4,26,54,25,71,10,103

In [ ]:
seoul_business['동'].value_counts()

소계      25
신사동      2
독산2동     1
양평1동     1
당산2동     1
        ..
미아동      1
삼양동      1
수유3동     1
수유2동     1
길동       1
Name: 동, Length: 423, dtype: int64

In [ ]:
seoul_business.head()

,자치구,동,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,...,커피전문점 사업체수,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수
0,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
1,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
2,종로구,삼청동,5,5,42,145,4,4,9,10,...,66,243,2,3,3,8,-,-,7,33
3,종로구,부암동,22,22,26,100,9,9,17,26,...,24,62,3,6,7,23,16,59,3,15
4,종로구,평창동,10,10,31,116,11,11,33,52,...,19,62,2,4,26,54,25,71,10,103

In [ ]:
# 동 컬럼의 값이 소계인 항목들만 골라내 보겠습니다.
# 위와 같이 동 컬럼의 소계를 구하면 자치구 별 값이 되므로 이후에 동 컬럼은 삭제, 결과적으로 자치구 별 값을 얻게 된다.
seoul_business.drop('동', axis=1, inplace=True)
seoul_business

,자치구,택시운송업 사업체수,택시운송업 종사자수,한식 일반 음식점업 사업체수,한식 일반 음식점업 종사자수,용달 화물자동차 운송업 사업체수,용달 화물자동차 운송업 종사자수,부동산 중개 및 대리업 사업체수,부동산 중개 및 대리업 종사자수,두발미용업 사업체수,...,커피전문점 사업체수,커피전문점 종사자수,남녀용 겉옷 및 셔츠 도매업 사업체수,남녀용 겉옷 및 셔츠 도매업 종사자수,기타주점업 사업체수,기타주점업 종사자수,일반 교과 학원 사업체수,일반 교과 학원 종사자수,한식 육류요리 전문점 사업체수,한식 육류요리 전문점 종사자수
0,종로구,215,215,"1,548","5,912",618,646,549,889,261,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
18,중구,230,235,"1,588","6,414",300,333,576,"1,152",339,...,869,"3,542","10,810","24,248",381,982,57,175,443,"2,121"
34,용산구,416,523,857,"2,987",455,466,791,"1,214",366,...,634,"2,076",54,317,487,"1,332",104,573,300,"1,184"
51,성동구,"1,200","2,527",956,"2,785","1,072","1,161",801,"1,453",489,...,547,"1,859",149,"1,572",285,621,258,"1,494",400,"1,545"
69,광진구,"1,119","1,744",963,"2,861",968,985,871,"1,313",746,...,590,"1,887",89,687,633,"1,577",413,"1,646",467,"1,678"
85,동대문구,"1,546","2,093","1,236","3,566","1,431","1,456",842,"1,208",611,...,494,"1,472",211,976,499,"1,082",302,984,442,"1,509"
100,중랑구,"3,634","6,262",991,"2,479","1,804","1,877",738,"1,104",790,...,381,"1,037",63,284,535,"1,000",288,"1,045",499,"1,504"
117,성북구,"1,835","2,643",973,"2,822","1,312","1,335",846,"1,175",739,...,457,"1,384",85,454,512,"1,030",464,"1,755",365,"1,334"
138,강북구,"1,713","2,589",965,"2,663","1,024","1,030",589,867,673,...,358,"1,095",40,94,580,"1,275",220,740,362,"1,176"
152,도봉구,"2,993","5,783",672,"2,009","1,571","1,574",515,794,600,...,288,837,22,43,258,477,351,"1,162",302,943
167,노원구,"4,114","6,074",866,"2,650","1,730","1,736",714,"1,053",782,...,535,"1,748",30,123,355,844,735,"3,281",428,"1,557"
187,은평구,"3,108","4,430",881,"2,585","1,340","1,349","1,134","1,614",947,...,457,"1,296",26,74,484,925,551,"1,793",476,"1,639"
204,서대문구,"1,747","2,677",863,"2,694",802,808,667,956,598,...,370,"1,323",22,68,497,"1,127",361,"1,268",311,"1,088"
219,마포구,"1,165","1,838","1,411","4,705",770,829,"1,149","1,903",896,...,"1,369","4,475",96,"1,209","1,011","2,559",469,"1,855",701,"2,928"
236,양천구,"2,735","4,942",831,"2,800","1,286","1,293",922,"1,364",838,...,402,"1,375",25,52,415,851,"1,284","5,804",281,"1,111"
255,강서구,"3,735","6,922","1,325","4,584","1,799","1,862","1,311","2,352","1,015",...,690,"2,530",78,700,794,"1,709",672,"2,347",581,"2,274"
276,구로구,"2,757","3,817","1,048","3,215","1,318","1,351",789,"1,213",729,...,421,"1,384",114,923,576,"1,165",336,"1,111",428,"1,496"
292,금천구,"1,100","2,598",867,"2,619",935,997,671,"1,381",488,...,383,"1,215",200,"2,575",391,685,153,487,300,"1,042"
303,영등포구,"1,349","2,397","1,738","6,476","1,281","1,429",986,"1,566",673,...,838,"3,295",76,"1,220",636,"1,489",288,"1,082",494,"2,151"
322,동작구,"1,033","1,115",765,"2,322",830,844,883,"1,483",651,...,486,"1,628",20,199,439,955,407,"1,463",331,"1,177"
338,관악구,"1,286","2,027","1,226","3,689","1,579","1,600","1,010","2,136",895,...,581,"2,049",31,190,658,"1,672",354,"1,230",422,"1,628"
360,서초구,417,903,"1,564","6,712",386,411,"1,457","2,758",676,...,"1,012","3,897",157,"1,563",446,"1,255",812,"3,812",445,"2,338"
379,강남구,"1,796","2,517","2,415","11,486",445,487,"2,337","6,508","1,241",...,"1,624","7,273",384,"8,320",713,"2,528","1,426","9,020",827,"5,008"
402,송파구,"2,638","4,850","1,575","5,760","1,910","1,931","1,677","3,190","1,137",...,975,"3,372",147,"2,830",628,"1,469",876,"4,160",639,"2,781"
430,강동구,"3,295","4,980","1,101","3,388","1,528","1,566","1,188","1,990",900,...,546,"1,660",59,"1,433",589,"1,349",620,"2,104",428,"1,459"

In [ ]:
seoul_business.to_csv('/content/drive/MyDrive/미니프로젝트/1차_서울시 생활정보 기반 대중교통 수요 분석/데이터/df_seoul_business.csv')